html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

ul{
    list-style: none;
}

body, .page {
    background-color: #F8F8F8;
    padding:10px 0px;
}

.page__hd {
    padding: 40px;
}

.page__bd_spacing {
    padding: 0 15px;
}

.lunch_flex{
    padding: 20px;
}

.page__bd li {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;
}
.page__bd li:first-child {
    margin-top: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.departmentNum{
    float:right;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.accordionContent .weui-cells{
    margin-top:0px;
}
