html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,PingFang SC,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
}

ul{
    list-style: none;
}
.f24{
    font-size:24px;
}

body, .page {
    background-color: #F8F8F8;
    padding:10px 0px;
}
.tcenter{
    text-align: center;
}
.txtLeft{
    text-align: left;
}

.page__hd {
    padding: 40px;
}

.page__bd_spacing {
    padding: 0 15px;
}

.lunch_flex{
    padding: 10px 15px;
}

.page__bd li {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;
}
.page__bd li:first-child {
    margin-top: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.departmentNum{
    float:right;
}

.hide{
    display:none;
}

.root{    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;}
.page{

    position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
z-index: 1;
background-color:#F8F8F8;
}

.page-enter {
    z-index: 1024;
    opacity: 0.01;
    transform: translate3d(100%, 0, 0);
    transition: all .2s ease;
}
.page-enter-active{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.page-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
}
.page-leave-active{
    opacity: 0.01;
    transform: translate3d(100%, 0, 0);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.accordionContent .weui-cells{
    margin-top:0px;
}

.lunch_dia .weui-dialog__bd{
    padding: 0px 15px;
}
.lunch_dia .weui-cell_select-before{
    padding-right:0px;
    margin-top:10px;
}
.lunch_dia .weui-cell_select-before .weui-select{
    height:30px;
    line-height: 30px;
    width:80px;
}
.weui-cells__title{
    font-size:14px;
    margin:10px 0px;
}
.weui-cells{
    font-size:14px;
}
.iconFloat{
    float:right;
    line-height:38px;
}
.tb_padding{
padding-top:10px;
padding-bottom: 10px;}


.button-sp-area{
    margin: 0 auto;
padding: 5px 0;
width: 60%;
}
.hotSearchDivBody .placeholder{
    padding:5px 0px;
    text-align:center;
    font-size:13px;
    color:#1aad19;
    /*padding:0px 15px;*/
}
.hotSearchDivBodyInner{
    padding:0px 15px 10px 0px;
}
.hotSearchDivBodyInner a{
    margin-right:10px;
    padding:2px 10px;
    font-size:11px;
    border-radius: 15px;
    line-height: 15px;
    border-color:#666;
    color:black;

}
